.cart{
    /* background-color: aqua; */
    margin:15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cart-left{
    background-color: white;
    padding: 15px 20px;

}
.cart-left h1{
    margin: 10px;
}
.cart-left hr{
    margin: 10px 0;
}
.product-list{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}
.product-title-price{
    display: flex;
    gap: 20px;
    font-size: 17px;
}
.product-class-bestseller{
    margin-top: 10px;
    font-size: 18px;

}
.product-class-bestseller span{
    font-weight: 600;
    border: none;
    background-color: rgb(8, 213, 96);
    color: rgb(56, 47, 47);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 16px;
}
.pro-cart-stock{
    margin: 5px 0;
    font-weight: 600;
    font-size: 18px;
    color: rgb(40, 117, 148);
}
.pro-cart-delivery{
    margin:1px 0;
}
.pro-cart-delivery span{
    font-weight: 600;
    font-size: 18px;
}
.pro-cart-return{
    color: rgb(40, 117, 148);
    font-weight: 600;
    margin-bottom: 3px;
}
.pro-cart-gift{
    font-size: 16px;
}
.pro-cart-gift span{
    color: rgb(2, 2, 255);
    text-decoration: underline;
}
.pro-cart-specification{
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: rgb(180, 224, 224); */
    max-width: 150px;
    padding: 5px 0px;
    margin: 5px 0;
    border-radius: 5px;
    row-gap: 5px;
    font-size: 16spx;
}
.cart-list-action{
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: rgb(2, 77, 107);
}
.cart-list-action hr{
    height:15px;
    width: 0px;
    background-color: #cfcfcf;
}
.cart-list-action p{
    font-size: 16px;
    padding-top: 5px;
}
.cart-list-action select{
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(154, 144, 144);
    font-size: 14px;
}
.cart-list-subtotal{
    text-align: right;
    margin: 10px 0;
    font-size: 19px;
}
.cart-right{
    background: white;
    padding: 20px;
    max-height: 220px;
    min-width: 280px;
}
.cart-free-delivery{
    display: flex;
    font-size: 13px;
}
.cart-subtotal{
    margin: 10px 0px;
    font-size: 18px;
}
.cart-right-gift{
    margin: 10px 0px;
    font-size: 17px;
}
button{
    border: none;
    outline: none;
    margin:10px 0px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(240, 240, 9);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.list-of-items{
    margin: 15px 0;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    /* display: none; */
}
footer{
    margin-top: 10px;
}

/* Media query */
@media only screen and (max-width:900px){
    .cart{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:600px){
    .product-list{
       padding: 24px 0;
    }
    .product-list img{
        width: 80px;
     }
    .product-title-price p{
        flex-wrap: wrap;
        font-size: 15px;
    }
    .pro-cart-delivery{
        font-size: 15px;
    
    }
    .cart-list-action .btn:nth-last-child(1){
        display: none;
        /* color: aliceblue; */
    }
    .cart-list-action hr:nth-last-child(2){
        display: none;
       
    }
    .cart-list-action .btn:nth-last-child(3){
        display: none;
     
    }
     .cart-list-action hr:nth-last-child(4){
        display: none;
     
    }
    .cart-right{
        min-width: 100%;
    }
}
